* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .contact-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .contact-container h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #293162;
    font-family: "Dosis", sans-serif;
    margin-top: -10rem;
    margin-bottom: 5rem;
  }
  
  .contact-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .contact-card {
    flex: 1;
    max-width: calc(50% - 20px); /* Adjust as needed for the number of cards per row */
    border: 2px solid #293162;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .heading {
    background-color: #293162;
    padding: 1rem;
    border-radius: 6px 6px 0 0;
  }
  
  .heading p {
    color: whitesmoke;
    font-size: 1.3rem;
    text-align: center;
  }
  
  .points {
    list-style-type: decimal;
    padding-left: 1.5rem;
    margin-top: 1rem;
  }
  
  .points li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 1.4;
  }
  
  .apply-button1 {
    background-color: #293162;
    color: #fff;
    padding: 5px 20px;
    border-radius: 10px;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

  .apply-button2 {
    background-color: #293162;
    color: #fff;
    padding: 5px 20px;
    border-radius: 10px;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
  
  @media screen and (max-width: 768px) {
    .contact-card {
      max-width: 100%;
    }
  
    .apply-button1 {
      position: relative;
      margin-top: 1rem;
      bottom: auto;
      right: auto;
    }

    .apply-button2 {
        position: relative;
        margin-top: 1rem;
        bottom: auto;
        right: auto;
      }
  }
  

  .apply-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    border: 2px solid #293162;
    border-radius: 8px;
    position: relative;
    margin-top: 2rem;
  }
  
  .apply-form h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #293162;
  }
  
  .apply-form form {
    width: 100%;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  button[type="submit"] {
    background-color: #293162;
    color: #fff;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 4rem;
  }
  
  .close-button {
    background-color: #ff0000; /* Change to your preferred color */
    color: #fff;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
  

  .form-group {
    position: relative;
  }
  
  .file-input-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    color: #999;
  }
  
  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  