.media-links-container {
  position: fixed;
  left: 0;
  top: 78%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.social-media-icon {
  width: 40px;
  height: 40px;
  background-size: cover;
  transition: margin-left 0.4s ease-in-out;
}
.whatsapp {
  width: 42px;
  height: 42px;
  background-image: url("/MediaLinksImages/whatsapp.png");
}

.instagram {
  background-image: url("/MediaLinksImages/instagram.png");
}

.youtube {
  background-image: url("/MediaLinksImages/youtube.png");
}

.facebook {
  background-image: url("/MediaLinksImages/facebook.png");
}

.social-media-icon:hover {
  margin-left: 14px;
}

@media (max-width: 480px) {
.media-links-container {
  top: 80%;
}

  .social-media-icon {
    height: 24px;
    width: 24px;
  }

  .whatsapp {
    height: 26px;
    width: 26px;
  }
}
