.wrapper {
  display: flex;
  margin: 2rem 3rem;
  padding: 2rem 0;
  justify-content: center;
  background: url("/images/sammy-line-swirls-for-background.png");
  background-size: 50%;
  flex-wrap: wrap;
}

#root {
  background: linear-gradient(#ffe9ac 1%, #f3e3b9 2%, #ffffff 60%);
  margin: 0 0;
  padding: 0;
  text-align: center;
}

.head {
  display: flex;
  justify-content: center;
  align-items: end;
  background: url("/images/sammy-line-swirls-for-background.png");
  background-size: 30%;
  margin: 2rem;
}

.head h1 {
  text-align: center;
  font-family: 'Dosis';
  font-size: 3rem;
  text-transform: uppercase;
  position: relative;
}

.head .shadow {
  font-family: "Dosis";
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.09);
  transform: scale(1.2, 1);
}

.card-container-management {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.card-management {
  display: flex;
  justify-content: center;
  width: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  flex: 0 0 calc(33.33% - 40px);
  box-shadow: 5px 10px 18px #816d5b;
  transition: transform 0.3s;
  overflow: hidden;
}

.card-content-management {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #293162;
  font-family: "Happy+Monkey";
  height: 100%;
  transition: height 0.3s;
}

.card-header-management {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image-container-management {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.card-image-management {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  transform: translateY(0);
  transition: transform 0.3s;
}

.card-title-management {
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1;
  font-family: 'Coiny';
  font-size: x-large;
  font-weight: bold;
  color: #293162;
  transform: translateY(0);
  transition: transform 0.3s;
}

.card-title-management.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.card-description-management {
  position: absolute;
  bottom: -70%;
  left: 0;
  right: 0;
  background: linear-gradient(180deg,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.3) 10%,
      hsl(0, 0%, 0%) 100%);
  padding: 10px;
  overflow: hidden;
  height: 12%;
  transition: bottom 0.5s;
}

.card-description-management {
  margin: 0;
  color: white;
  text-align: center;
  font-family: 'Exo 2';
  font-size: 1.8rem;
}

.card-button-management {
  padding: 10px 20px;
  background-color: white;
  color: #293162;
  border: none;
  border-radius: 5px;
  border: solid;
  border-color: #f5d29e;
  margin-top: 14px;
  margin-bottom: 5px;
  cursor: pointer;
  font-family: 'Happy Monkey';
  transition: background-color 0.3s;
}

.card-button:hover {
  background-color: #5caf25;
  border-color: #f5d29e;
}

.card-management:hover .card-description-management {
  bottom: 0;
}

@media (max-width: 820px) {
  .card-management {
    flex: 0 0 calc(50% - 40px);
  }
}

@media (max-width: 480px) {
  .card-management {
    flex: 0 0 calc(100% - 40px);
  }
}