* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  background: linear-gradient(#ffe9ac 1%, #f3e3b9 2%, #ffffff 60%);
  margin: 0.5rem;
  padding: 0.75rem;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0.75rem;
  padding: 1rem;
  align-items: center;
}

.App-VisionMission {
  text-align: center;
}

.App-header-VisionMission {
  display: flex;
  justify-content: center;
  align-items: end;
  background: url("/images/sammy-line-swirls-for-background.png");
  background-size: 40%;
  margin: 2rem;
}

.App-header-VisionMission h1 {
  text-align: center;
  font-family: 'Dosis';
  font-size: 3rem;
  text-transform: uppercase;
  position: relative;
}

.shadow-VisionMission {
  font-family: "Dosis";
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.09);
  transform: scale(1.2, 1);
}

.App-main-VisionMission {
  background: url("/images/sammy-line-swirls-for-background.png");
  background-size: 50%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  max-width: 1450px;
  margin: 0 auto;
  height: auto;
  animation: slideIn 1s ease-out;
}

.vision,
.mission {
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;

  background: #ffe9ac;
  width: 40%;
}

.vision p,
.mission p {
  font-family: 'Coiny', cursive;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.vision img,
.mission img {
  width: 60%;
  height: auto;
  margin: 0 auto;
  border-radius: 1.5rem;
  box-shadow: 2px 3px 20px black;
}

.vision img:hover,
.mission img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in;
}

.vision h2,
.mission h2 {
  font-family: 'Coiny', cursive;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

@media (max-width: 768px) {

  .vision,
  .mission {
    width: 80%;

  }
}


@media (max-width: 480px) {
  .App-header-VisionMission h1 {
    font-size: 2rem;

  }

  .wrapper {
    margin: 0.5rem;
  }

  .App-main-VisionMission {
    background-size: 100%;
    padding: 1rem;
  }

  .vision,
  .mission {
    width: 100%;
    margin: 0.5rem 0;
    padding: 1rem;
  }
}