.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #006699;
  color: #fff;
  padding: 20px;
}

.footer-left {
  flex: 1;
  margin: 1rem;
}

.footer-img {
  width: 300px;
}

.footer-center {
  flex: 1;
  text-align: justify;
  flex-direction: column;
  margin: 1rem;
}

.footer-center a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-family: "Exo 2";
  /* font-weight: bold; */
}

.footer-center ul li {
  list-style: none;
  padding: 0.5rem;
}

.footer-right {
  flex: 1;
  text-align: right;
}

.map {
  width: 100%;
  height: 200px;
}

.badjate-grp {
  margin: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-size: larger;
}
.badjate-grp div {
  font-family: "Exo 2";
  font-weight: bold;
  -webkit-text-stroke: 1px #006699;
}

.badjate-links {
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
}

.badjate-links a img {
  width: 300px;
}

.footer-end {
  text-align: center;
  background-color: #f5a524;
  padding: 1rem;
  /* font-weight: bold; */
  font-family: "Dosis";
  margin-bottom: 1rem;
}

.footer-end a {
  margin-left: 0.5rem;
  text-decoration: none;
  color: rgb(0, 144, 234);
}

.footer-end a:hover {
  color: rgb(0, 92, 148);
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .footer-main {
    flex-direction: column;
    text-align: center;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    flex: none;
    width: 100%;
  }

  .footer-img {
    width: 200px;
  }

  .badjate-links {
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
  }

  .badjate-links a img {
    width: 200px;
    margin-bottom: 1rem;
  }
}
