.active {
  background-color: #3cb472;
  color: #fff;
}

.dropdown-content {
  position: absolute;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  padding: 1rem 0;
  /* transition: ease all 0.5s; */
  background-color: #f3e3b9;
}

.nav-link {
  font-weight: bold;
  padding: 0.5rem;
  margin: 0 1rem;
  border-radius: 0.5rem;
  font-family: "M PLUS Rounded 1c";
  cursor: pointer;
}

.nav-link:hover {
  background-color: rgb(139, 255, 101);
  transition: all 0.3s ease-in-out;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3e3b9;
  color: #3cb472;
  position: sticky;
  top: 0;
  padding: 0 2rem;
  width: 100%;
  font-size: 20px;
  z-index: 10;
}

nav .title {
  margin: 1rem;
  text-decoration: none;
  color: #3cb472;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #3cb472;
  font-weight: bold;
  padding: 0.5rem;
  margin: 0 1rem;
  border-radius: 0.5rem;
  font-family: "M PLUS Rounded 1c";
}

nav ul li a:not(.active):hover {
  background-color: rgb(139, 255, 101);
  transition: all 0.3s ease-in-out;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

nav img.lj-logo {
  height: 80px;
  width: 200px;
}

@media (max-width: 960px) {
  nav .menu {
    display: flex;
    margin: 15px;
  }

  .fa-bars {
    padding: 15px;
  }
  .fa-xmark {
    padding: 15px;
  }
  nav img.lj-logo {
    height: 60px;
    width: 160px;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
    /* margin: 1rem; */
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.5rem 0.5rem;
  }
  .dropdown-content {
    position: sticky;
  }
  .nav-link:hover {
    background-color: transparent;
  }
}
