<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
    <link href="/Login page/resource/task7.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Social Media Login form</title>
</head>

<body>
    <div id="heading">
        Instagram
    </div>
    <br>
    <div align="center">
        <div class="main">
            <div class="title">
                Instagram login
            </div>
            <img src="/Login page/resource/image.jpg" width="100px" height="100px">
            <form>
                <div class="container">
                    <i class="fa fa-user icon"></i>
                    <input type="text" class="input-field" placeholder="Phone number, username, or email">
                    <br>
                </div>
                <div class="container">
                    <i class="fa fa-key icon"></i>
                    <input type="password" class="input-field" placeholder="Password">
                </div>
                <div class="container">
                    <button>Log In</button>
                </div>
                <div class="container">
                    <span>OR</span>
                </div>
                <div class="container">
                    <i class="fa fa-facebook-square icon"></i>
                    <a
                        href="https://www.facebook.com/login/?privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNjU4MTI4OTUwLCJjYWxsc2l0ZV9pZCI6MjY5NTQ4NDUzMDcyMDk1MX0%3D">Log
                        in with Facebook</a>
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
        Adeebur Rahman
    </div>
</body>

</html>