.testimonals-wrapper {
  display: flex;
  margin: 0rem 3rem;
  padding: 2rem 0;
  justify-content: center;
  background: url("/About_Us_Images/Testimonials_Images/beam-stars.png");
  background-size: 50%;
  flex-wrap: wrap;
}

.main-heading__testimonals {
  font-family: "Dosis";
  color: #293162;
  font-weight: bold;
  font-size: 4rem;
  -webkit-text-stroke: 2px #293162;
  text-align: center;
  margin-top: 80px;
  background-image: url("/About_Us_Images/Testimonials_Images/icons8-quote-left-480.png");
}

.testimonals-shadow {
  position: absolute;
  transform: scale(5, 5);
  margin-left: -2.5rem;
  margin-top: -6rem;
  opacity: 0.2;
  z-index: -1;
}

.card-testimonals {
  width: 60%; 
  height: auto; 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 40px;
  background-color: #d1f6ea91;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Dosis";
  position: relative; 
  z-index: 1; 
  left: 15%;
}
.card-testimonals p {
  font-family: "Dosis";
  font-weight: bold;
}

.quotes-image {
  opacity: 0.3;
}

.card p {
  font-size: 18px;
  margin: 0;
}

.parents-corner {
  display: flex;
  margin-left: -40px;
  margin-top: 20px;
}

.parents-review {
  display: flex;
  justify-content: center;
  padding-left: 5rem;
}

.border-style {
  border: 2px solid black;
  border-radius: 50%;
  background-color: rgb(252, 252, 255);
  width: 3rem;
  height: 3rem;
}

.parents-name {
  padding-left: 1rem;
  padding-top: 10px;
  font-family: "Dosis";
  font-weight: bold;
  font-size: 25px;
  color: #293162;
}

.parents-name__description {
  margin-left: 2rem;
  font-family: "Dosis";
}

@media (max-width: 960px) {
  .testimonals-wrapper {
    margin: 0;
    padding: 1rem;
  }

  .card-testimonals {
    width: 80%;
    margin: 20px -30px !important;
}
  .testimonals-shadow {
    max-width: 15%; 
    height: auto;
    margin-left: 10rem; 
    margin-top: -5rem; 
  }
}

@media (max-width: 480px) {
  .testimonals-shadow {
    max-width: 5%;
    height: auto;
    margin-left: 5px;
  }
  .parents-name {
    font-size: 15px;
  }
}
